<div id="content-section-wrap">
  <div id="assets" class="content-section grid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'shared/grid_asset', collection: @assets, as: :asset %>
        </div>
      </div>
    </div>
  </div>
</div>