<div id="header">
  <div class="container-fluid">
    <div class="row sub-header dark clearfix">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to current_library.name, library_path(current_library) %></li>
          <li>Activity</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div id="content-section-wrap">
  <div class="content-section no-pad">
    <div class="container-fluid">
      <% if @activity.any? %>
        <div class="row">
          <div class="col-xs-12 no-pad">
            <%= render 'shared/activity_list' %>
            <% if @activity_size > Activity.per_page %>
              <a href="<%= activity_library_path(current_library) %>" class="load-more-activity button marg-top-10 marg-left-15" data-page="2">Load More Activity</a>
              <%= link_to image_tag("system/spinner-70.gif", :height => "25", :class => "loader"), root_url %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well placeholder">
              <h3>No Library Activity!</h3>
              <p>Nothing has happened yet...</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>